---
layout: default
---

<div class="container-fluid" style="margin-top:10px;">
    <div class="row">
        <div class="col-4" >

            <img src="{{ site.baseurl }}/images/BioPhoto_Green_Med.jpg" style="float:left;width:100%;"/><br/>
            
            
            Hayes Hall 243<br />
            Dept. of Computer Science<br />
            Bowling Green State University<br />
            Bowling Green, OH 43403<br/>
            <strong>P:</strong> (419) 372-8782 <br/></br/>

            <strong>Spring 2025 Office Hours:</strong>M 1-3 PM, W 11.30-1.30 PM
        </div>
        <div class="col-8 text-justify">
            <h3>
                I'm <strong>{{ site.author }}</strong><br/> 
                Associate Professor of Computer &amp; Data Science at Bowling Green State University.
                I love solving problems through code.
            </h3>
            <p class="text-justify">
                Dr. Green received his B.S. from Geneva College in Computer Science &amp; Applied Mathematics in 2005 and his M.S in Computer Science with a focus in Operations Research from Bowling Green State University in 2007. From 2007 until 2008 he served in various professional roles at HCR Manorcare Maritz Research, and Hart Associates, Inc. Driven by a desire to create great software and teach others to do the same, he began his Ph.D. studies in Engineering at the University of Toledo in 2009 where he focused on the application on Computational Intelligence & High Performance Computing techniques to the evaluation of composite power system reliability, earning his Ph.D. in 2012. He served as a Research Assistant Professor at the University of Toledo from 2012-2013 before joining the Department of Computer Science at Bowling Green State University. While his core research expertise is in Computational Intelligence and High Performance Computing, his research record crosses disciplinary boundaries with publications in Cloud Computing, Power System Reliability, Intrusion Detection, and Optimization. Currently his focus is on developing methods to improve kidney transplantation practices through data analysis, simulation, and optimization.
            </p>   
            <p>
                <strong>Research Interests:</strong> Computational Science; Computational Intelligence; Software Engineering<br/><br/>

                <strong>Professional Interests:</strong> Software Engineering (Web, Mobile, Cloud, and HPC) &amp; Data Analytics<br/><br/>
            </p>
            
        </div>
    </div>
</div>