---
layout: page
title: "Research"
comments: false
sharing: false
footer: true
sidebar: false
---
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center" style="margin-bottom:5px;">
            {% if site.orcid_username %}   
                <a href="https://orcid.org/{{ site.orcid_username }}">
                    <i class="ai ai-orcid"></i> ORCID
                </a>     
            {% endif %}

            {% if site.google_scholar %} 
                <a href="https://scholar.google.com/citations?user={{ site.google_scholar }}&hl=en">
                    <i class="ai ai-google-scholar"></i> Google Scholar
                </a>     
            {% endif %}

            
            {% if site.researchgate %} 
                <a href="https://www.researchgate.net/profile/{{ site.researchgate }}">
                    <i class="ai ai-researchgate"></i> Research Gate
                </a>     
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-13 text-center">
        <strong>Areas:</strong> Computational Intelligence, Data Science
        </div>
    </div>
</div><br/>

<div class="container-fluid">
    <div class="col-13">
  

        <h4>Under Review &amp; Preprints:</h4>
        <ol class="list-group">
            
            <li class="list-group-item"><a href="https://www.preprints.org/manuscript/202206.0115/v1">[Online]</a> J. Ahmed, <strong>R. C. G. II</strong>, M. Alauddin, M. Jaman, and G. Saha, &quot;Explainable machine learning approaches to assess the COVID-19 vaccination uptake: Social, political, and economic aspects,&quot; Preprints, 2022</li>

        </ol>

        <h4>Journal Publications:</h4>
        <ol class="list-group">
            <li class="list-group-item"><a href="https://www.mdpi.com/3208322">[Online]</a> D. Offei, D. Bekbolsynov, S. Stepkowski, and <strong>R. C. G. II</strong>, &quot;Does eplet load and electrostatic mismatch score matter in kidney transplantation? A machine learning approach,&quot; vol. 6, no. 1, 2025. Submitted December 2024. Revised/Accepted February 2025. Published March 2025. CiteScore 1.3</li>

            <li class="list-group-item"><a href="https://doi.org/10.1016/j.trim.2024.102146">[Online]</a> F. J. Syed, D. Bekbolsynov, S. Stepkowski, D. Kaur, and <strong>R. C. G. II</strong>, &quot;Potential of 250 New Nautical Mile Concentric Circle Allocation System for Improving the Donor/Recipient HLA Matching: Development of New Matching Algorithm,&quot; Transplant Immunology, vol. 87, p. 102146, December 2024. Submitted April 2024. Accepted November 2024. Published October 2024. Impact Factor: 1.6</li>

            <li class="list-group-item"><a href="https://doi.org/10.1007/s00521-024-10479-6">[Online]</a> J. Ahmed and <strong>R. C. G. II</strong>, &quot;Leveraging Survival Analysis in Cost-Aware DeepNet For Efficient Hard Drive Failure Prediction,&quot; Neural Computer and Applications, vol. 37, pp. 1089–1104, December 2024. Submitted January 2024. Revised and Accepted September 2024. Available Online October 2024. Impact Factor: 4.7</li>

            <li class="list-group-item"><a href="https://doi.org/10.1016/j.compbiomed.2024.108452">[Online]</a> F. J. Syed, D. Bekbolsynov, S. Stepkowski, D. Kaur, and <strong>R. C. G. II</strong>, &quot;Maximizing Matching, Equity and Survival in Kidney Transplantation Using Molecular HLA Immunogenicity Quantitation,&quot; Computers in Biology and Medicine, vol. 174, p. 108452, May 2024. Submitted December 2023. Revised March 2024. Accepted and Available online April 2024. Impact Factor: 7.7</li>

            <li class="list-group-item"><a href="https://www.sciencedirect.com/science/article/abs/pii/S0952197623015233">[Online]</a> J. Ahmed and <strong>R. C. G. II</strong>, &quot;Cost Aware LSTM Model for Predicting Hard Disk Drive Failures Base on Extremely Imbalanced S.M.A.R.T. Sensors Data,&quot; Engineering Applications of Artificial Intelligence, vol. 127, p. 107339, January 2024. Submitted January 2023, Accepted October 2023, published January 2024. Impact Factor: 8.0</li>

            <li class="list-group-item"><a href="https://www.sciencedirect.com/science/article/abs/pii/S2352152X23018170">[Online]</a> S. DVSR, C. Badachi, and <strong>R. C. G. II</strong>, &quot;A Review on Data-Driven SOC Estimation with Li-Ion Batteries: Implementation Methods & Future Aspirations,&quot; Journal of Energy Storage, November 2023. Submitted January 2023, Accepted July 2023, Online August 2023. Impact Factor 9.4.</li>

            <li class="list-group-item"><a href="https://www.cambridge.org/core/journals/experimental-results/article/human-leukocyte-antigen-distributions-do-not-share-a-copula-across-subpopulations">[Online]</a> D. Schellhas and <strong>R. C. G. II</strong>, &quot;Human leukocyte antigen distributions do not share a copula across sub-populations,&quot; Experimental Results, vol. 3, p. e24, October 2022.</li>

            <li class="list-group-item"><a href="https://www.sciencedirect.com/science/article/pii/S2666827022000585">[Online]</a> J. Ahmed and <strong>R. C. G. II</strong>, &quot;Predicting severely imbalanced data disk drive failures with machine learning models,&quot; Machine Learning with Applications, p. 100361, 2022. Impact Factor: 6.3</li>

            <li class="list-group-item"><a href="https://www.frontiersin.org/articles/10.3389/fimmu.2022.832488/full">[Online]</a> D. Bekbolsynov, B. Mierzejewska, S. Khuder, O. Ekwenna, M. Rees, <strong>R. C. G. II</strong>, and S. Stepkowski, &quot;Improving Access to HLA-Matched Kidney Transplants for African American Patients,&quot; Frontiers in Immunology, vol. 13, March 2022. Impact Factor: 8.7.</li>

            <li class="list-group-item"><a href="https://www.frontiersin.org/articles/10.3389/fimmu.2020.580752/full">[Online]</a> D. Bekbolsynov, B. Mierzejewska, J. Borucka, J. Breidenbach, B. Gehring, S. Leonard-Murali, S. A. Khuder, M. Rees,<strong>R. C. G. II</strong>, and S. Stepkowski, &quot;Low Hydrophobic Mismatch Scores Calculated for HLA-A/B/DR/DQ Loci Improve Kidney Allograft Survival,&quot; Frontiers in Immunology, vol. 11, pp. 1-11, October 2020.
            </li>

            <li class="list-group-item"><a href="http://onlinelibrary.wiley.com/doi/10.1002/spe.2541/full">[Online]</a> B. Snyder, <strong>R. C. G. II</strong>, V. Devabhaktuni, and M. Alam, &quot;ReliaCloud-NS: A scalable web-based simulation platform for evaluating the reliability of cloud computing systems,&quot; Software: Practice and Experience, vol. 48, no. 3, pp. 665-680, March 2018.</li>

            <li class="list-group-item"><a href="https://link.springer.com/article/10.1007/s11227-017-2073-z/">[Online]</a> <a href="/assets/papers/2018_JSC.pdf">[PDF] </a><strong>R. C. G. II</strong> and V. Agrawal, &quot;A case study in multi-core parallelism for the reliability evaluation of composite power systems,&quot; Journal of Supercomputing, pp. 5125–5149, December 2017.</li>
            
            <li class="list-group-item"><a href="https://dl.acm.org/citation.cfm?id=3144620">[Online]</a> <a href="/assets/papers/Green_CCSC.pdf">[PDF] </a><strong>R. C. G. II</strong>, &quot;Focus Driven Development: The &quot;Could&quot; and &quot;Should&quot; of Software Design,&quot; J. Comput. Sci. Coll., vol. 33, pp. 72–76, October 2017.</li>

            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/document/7422126/">[Online]</a> <a href="/assets/papers/TBR_IEEE format-Final_Posting.pdf">[PDF]</a> M. Nasseri, J. Kim, <strong>R. Green</strong>, and M. Alam, &quot;Identification of Optimum Relocation Time in Mobile Wireless Sensor Network using Time-Bounded Re-localization Methodology,&quot; IEEE Transactions on Vehicular Technology, vol. 16, no. 1, pp 344-357, January 2017.
            </li>
            
            <li class="list-group-item"> <a href="http://link.springer.com/article/10.1007/s10766-015-0374-5">[Online]</a> S. Gadde, W. Acosta, J. Ringenberg, <strong>R. Green</strong>, V. Devabhaktuni, &quot;Achieving Optimal Inter-Node Communication in Graph Partitioning using Random Selection and Breadth-First Search,&quot; International Journal of Parallel Computing, vol. 44, no. 4, pp. 772-800, August 2016.</li>

            <li class="list-group-item"><a href="http://www.sciencedirect.com/science/article/pii/S0142061515003518">[Online]</a> W. Laussenhammer, D. Engel, and <strong>R. Green</strong>, &quot;Utilizing Capabilities of Plug In Electric Vehicles with a new Demand Response Optimization Software Framework: Okeanos,&quot; International Journal of Electrical Power and Energy Systems, vol. 75, February 2016.</li>
            </li>

            <li class="list-group-item"> <a href="http://link.springer.com/article/10.1186%2Fs13677-015-0036-6">[Online]</a> B. Snyder, J. Ringenberg, <strong>R. Green</strong>, V. Devabhaktuni, and M. Alam, &quot;Evaluation and Design of Highly Reliable and Highly Utilized Cloud Computing Systems,&quot; Journal of Cloud Computing: Advances, Systems, and Applications, vol. 4, no. 11, May  2015.</li>

            <li class="list-group-item"> <a href="http://hipore.com/ijcc/2014/IJCC-Vol2-No1-2014-pp15-30.pdf">[Online]</a> R. Householder and <strong>R. Green</strong>, &quot;Impacts of Multi-Class Oversubscription on Revenues and Performance in the Cloud,&quot; International Journal of Cloud Computing, vol. 2, no. 1, January-March 2014.</li>

            <li class="list-group-item"> <a href="http://www.cscjournals.org/library/manuscriptinfo.php?mc=IJCN-292">[Online]</a> M. Nasseri, <strong>R. C. G. II</strong>, M. Alam, J. Kim, V. Devabhaktuni, W. Cheng, &quot;Collaborative Re-Localization Method in Mobile Wireless Sensor Network Based on Markov Decision Process,&quot; International Journal of Computer Networks, vol. 6, no. 4, September 2014.</li>

             <li class="list-group-item"> <a href="http://airccj.org/csecfp/library/jvol.php?last=IJFCST&volname=4&volno=4">[Online]</a> H. Al-Olimat, <strong>R. C. G. II</strong>, M. Alam, V. Devabhaktuni, and W. Cheng, &quot;Particle Swarm Optimized Power Consumption of Trilateration,&quot; International Journal of Foundations in Computer Science, vol. 4, no. 4, July 2014, pp.1-19.</li>

             <li class="list-group-item"> <a href="http://link.springer.com/article/10.1007/s11227-014-1197-7">[Online]</a>&nbsp;M. Lakshminarayanan, W. Acosta, <strong>R. C. G. II</strong>, and V. Devabhaktuni, &quot;Strategic and Suave Processing for Efficient and Scalable Similarity Joins Using MapReduce,&quot; Journal of Supercomputing, May 2014, pp. 1-25.</li>

            <li class="list-group-item"> <a href="http://www.ijettjournal.org/archive/941-ijett-v8p273">[Online 1]</a>&nbsp;<a href="http://arxiv.org/abs/1402.4758">[Online 2]</a>&nbsp;R. Householder, S. Arnold, and <strong>R. C. G. II</strong>, &quot;On Cloud-based Oversubscription,&quot; International Journal of Engineering Trends and Technology, vol. 8, no. 8, pp. 425-431, February 2014.
            </li>

            <li class="list-group-item"> <a href="http://www.sciencedirect.com/science/article/pii/S0952197613000481">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, and M. Alam, Intelligent State Space Pruning for Monte Carlo Simulation with Applications in Composite Power System Reliability. Engineering Applications of Artificial Intelligence, vol. 26, no. 7, pp. 1707-1724, August 2013, <a href="http://dx.doi.org/10.1016/j.engappai.2013.03.006">10.1016/j.engappai.2013.03.006</a></li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=06410474">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, and M. Alam, Applications and Trends of High Performance Computing for Electric Power Systems: Focusing on Smart Grid, IEEE Transactions on Smart Grid, vol. 4, no. 2, pp. 922-931, June 2013. </li>

            <li class="list-group-item"> <a href="http://www.sciencedirect.com/science/article/pii/S0142061512005947">[Online]</a> S. Depuru, L. Wang, V. Devabhaktuni, <strong>R. C. G. II</strong>, High performance computing for detection of electricity theft, International Journal of Electrical Power &amp; Energy Systems, Volume 47, May 2013, Pages 21-30, ISSN 0142-0615, 10.1016/j.ijepes.2012.10.031. </li>

            <li class="list-group-item"> <a href="http://www.sciencedirect.com/science/article/pii/S1364032112006363">[Online]</a> V. Devabhaktuni, M. Alam, S. Depuru, <strong>R. C. G. II</strong>, D. Nims, C. Near, Solar energy: Trends and enabling technologies, Renewable and Sustainable Energy Reviews, Volume 19, March 2013, Pages 555-564, ISSN 1364-0321, 10.1016/j.rser.2012.11.024. </li>
           

            <li class="list-group-item">  <a href="https://docs.google.com/file/d/0Bw5b_gzsh4cibkE4YnB2eDBfSHM/edit">[Online]</a> H. Gudavalli, J. Ringenberg, S. Depuru, <strong>R. C. G. II</strong>, R. Molyet, and V. Devabhaktuni, &quot;A Review of Global Energy Education Initiatives,&quot; International Journal of Advances in Science and Technology, vol. 5, no. 5, December 2012. </li>
        
            <li class="list-group-item">  <a href="http://link.springer.com/article/10.1007%2Fs11227-011-0725-y">[Online]</a><strong>R. C. G. II</strong>, L.Wang, M.Alam, and R. A.Formato, &quot;Central force optimization on a GPU: A case study in high performance metaheuristics,&quot; Journal of Supercomputing, vol. 62, pp. 378–398, October 2012.</li>

            <li class="list-group-item">  <a href="http://www.praiseworthyprize.com/IREE_latest.html#Multi-Objective_Environmental_Optimal_Power_Flow_Considering_Transient_Stability_Improvement">[Online]</a> R. Moslemi, M. Esmaili, H.A. Shayanfar, L. Wang, and <strong>R. C. G. II</strong>, &quot;Multi-Objective Environmental Optimal Power Flow Considering Transient Stability Improvement,&quot; International Review of Electrical Engineering, vol. 7, no. 1, pp. 3443-3453, February 2012. </li>    

            <li class="list-group-item">  <a href="http://www.sciencedirect.com/science/article/pii/S0957417411010086">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, and M. Alam, Training neural networks using Central Force Optimization and Particle Swarm Optimization: Insights and comparisons, Expert Systems with Applications, Volume 39, Issue 1, January 2012, Pages 555-563. </li>

            <li class="list-group-item"> <a href="http://cacm.acm.org/magazines/2011/12/142527-coding-guidelines-finding-the-art-in-the-science/fulltext">[Online]</a> <strong>R. C. G. II</strong> and H. Ledgard. Coding Guidelines: Finding the Art in the Science. Communications of the ACM, vol. 54, no. 12, December 2011, pp. 57-63. </li>

            <li class="list-group-item"> <a href="http://queue.acm.org/detail.cfm?id=2063168">[Online]</a><strong>R. C. G. II</strong> and H. Ledgard. Coding Guidelines: Finding the Art in the Science. Queue, vol. 9, no. 11, November 2011, pp. 1-13. DOI=10.1145/2063166.2063168. </li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=5963752">[Online]</a> Y. Zhang, L. Wang, W. Sun, <strong>R. C. G. II</strong>, and M. Alam, &quot;Distributed intrusion detection system in a multi-layer network architecture of smart grids,&quot; IEEE Transactions on Smart Grid, vol. 2, no. 4, pp. 796-808, December 2011. </li>  

            <li class="list-group-item"> <a href="http://www.sciencedirect.com/science/article/pii/S1364032110002674">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, and M. Alam, The impact of plug-in hybrid electric vehicles on distribution networks: A review and outlook, Renewable and Sustainable Energy Reviews, Volume 15, Issue 1, January 2011, Pages 544-553, ISSN 1364-0321, DOI: 10.1016/j.rser.2010.08.015. </li> 
        </ol>
        <h4>Unrefereed Journal</h4>
        <ol>
            <li class="list-group-item"><a href="http://dl.acm.org/citation.cfm?id=2527165">[Online]</a> C. Gunnett, H. Schneider, and <strong>R. Green</strong>, &quot;Good doc, bad doc: teaching effective documentation in programming courses,&quot; Journal of Computing Sciences in Colleges. vol. 29, no. 1, pp. 92-93, October 2013.
            </li>
        </ol>

        <h4>Conference Publications:</h4>
        <ol>
            <li class="list-group-item"><a href="https://ieeexplore.ieee.org/document/10216505">[Online]</a> <a href="https://arxiv.org/pdf/2207.10799v1">[Preprint]</a>A. Akinola, A. Atadoga, K. Brooks, V. Chandna, and <strong>R. C. G. II</strong>, &quot;College Spread of COVID-19 in Ohio,&quot; in 2022 International Conference on Computational Science and Computational Intelligence (CSCI), (Las Vegas, Nevada), IEEE Computer Society, December 2022.</li>

            <li class="list-group-item"><a href="https://arxiv.org/abs/2006.12919v1">[PDF]</a> D. Schellhas, B. Neupane, D. Thammineni, B. Kanumuri, and <strong>R. C. G. II</strong>, &quot;Distance correlation sure independence screening for accelerated feature selection in parkinson's disease vocal data,&quot; in 2020 International Conference on Computational Science and Computational Intelligence (CSCI), (Las Vegas, Nevada), December 2020</li>

            <li class="list-group-item"><a href="/assets/papers/CFO_Xeon_Phi.pdf">[PDF] </a>T. Charest and <strong>R. C. G. II</strong>, &quot;Implementing Central Force Optimization on the Intel Xeon Phi,&quot; in IEEE International Parallel and Distributed Processing Symposium Workshops, (New Orleans, Louisianna), pp. 502–511, IEEE, May 2020.
            </li>

            <li class="list-group-item"><a href="https://link.springer.com/chapter/10.1007/978-3-319-94340-4_6">[Online] </a> <a href="/assets/papers/Edge_Offloading_V11.pdf"> [PDF]</a> K. R. Alasmari, <strong>R. C. G. II</strong>, and M. Alam, &quot;Mobile edge offloading using markov decision processes,&quot; in Edge Computing – EDGE 2018 (S. Liu, B. Tekinerdogan, and L.-J. Aoyama, Mikioand Zhang, eds.), pp. 80–90, Seattle, Washington, Springer International Publishing, June 2018.</li>

            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/abstract/document/8285384/">[Online] </a> <strong>R. C. G. II</strong>, &quot;Neighborhood topologies in central force optimization,&quot; in Symposium Series on Computational Intelligence, pp. 1–8, Honolulu, Hawaii, November/December 2017.</li>

            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/abstract/document/8285379/">[Online] </a> C. Promper, D. Engel, and <strong>R. C. G. II</strong>, &quot;Anomaly detection in smart grids with imbalanced data methods,&quot; in Symposium Series on Computational Intelligence, pp. 1–8, Honolulu, Hawaii, November/December 2017.</li>
            
            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/document/8166700/">[Online] </a> <strong>R. C. G. II</strong> and J. T. Chao, &quot;Ten years of the agile software factory for software engineering education and training,&quot; in Conference on Software Engineering and Training, pp. 182-186, Savannah, Georgia, November 2017.</li>

            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/document/7965999/">[Online] </a> S. Shekaforoush, <strong>R. Green</strong>, and R. Dyer, &quot;Classifying Commit Messages: A Case Study in Resampling Techniques,&quot; in International Joint Conference on Neural Networks, pp. 1273-1280, Anchorage, Alaska, May 2017.</li>
            
            <li class="list-group-item"><a href="https://dl.acm.org/citation.cfm?doid=2989238.2989244">[Online] </a> A. Shakiba, <strong>R. Green</strong>, and R. Dyer, &quot;&quot;Do Developers Dicsuss Design?&quot; Revisited,&quot; in International Workshop on Software Analytics, Seattle, Washington, November 2016.</li>

            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/document/7723669/"> [Online]</a>J. Yalamanchili, <strong>R. Green</strong>, K. Xu, and V. Devabhaktuni, &quot;Performance Enhanced Multiset Similarity Joins,&quot; in IEEE International Conference on Big Data and Cloud Computing, Atlanta, Georgia, October 2016.</li>

            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/document/7727543/">[Online] </a>J. Lueckenga, D. Engel, and <strong>R. Green</strong>, &quot;Weighted Vote Algorithm Combination Technique for Anomaly Based Smart Grid Intrusion Detection Systems,&quot; IEEE International Joint Conference on Neural Networks, Vancouver, British Columbia, 2016.</li>

            <li class="list-group-item"><a href="http://ieeexplore.ieee.org/document/7727265/">[Online] </a>J. Storer and <strong>R. Green</strong>, &quot;PSO Trained Neural Networks for Predicting Forest Fire Size: A Comparison of Implementation and Performance,&quot; IEEE International Joint Conference on Neural Networks, Vancouver, British Columbia, July 2016.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=7280067">[Online] </a> H. Al-Olimat, <strong>R. Green</strong>, M. Alam, and J.K. Lee, &quot;Cloudlet Scheduling with Particle Swarm Optimization,&quot; in IEEE International Conference on Communication Systems and Computing Application Science,  Jeju Island, South Korea, May 2015.</li>

            <li class="list-group-item"> <a href="http://dl.acm.org/citation.cfm?id=2872550.2872552">[Online]</a> C. Zhang and <strong>R. Green</strong>, &quot;Communication Security in Internet of Thing: Preventive Measure and Avoid DDoS Attack Over IoT Network,&quot; in Spring Simulation Multi-Conference, Alexandria, Virginia, April 2015.</li>

            <li class="list-group-item"> <a href="http://toc.proceedings.com/25832webtoc.pdf">[Online]</a> M. Nasseri, H. Al-Olimat, M. Alam, J. Kim, <strong>R. Green</strong>, and W. Cheng, &quot;Contiki Cooja Simulation for Time Bounded Localization In wireless Sensor Network,&quot; in Spring Simulation Multi-Conference, Alexandria, Virginia, April 2015.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=7131861">[Online]</a> W. Lausenhammer, D. Engel, and <strong>R. Green</strong>, &quot;A Game Theoretic Software Framework for Optimizing Demand Response,&quot; in IEEE ISGT 2015, Washington, DC, February 2015.</li>

            <li class="list-group-item"> N. Nieman, J. Lambright, C. Taylor, and <strong>R. Green</strong>, &quot;Quantum Polynomial Ring: Computing the p-polynomials,&quot; in Midstates Conference for Undergraduate Research in Computer Science and Mathematics, Wooster, Ohio, November, 2014.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6973787">[Online]</a> R. Householder, S. Arnold, and <strong>R. Green</strong>, &quot;Simulating the Effects of Cloud-based Oversubscription On Data Center Revenues and Performance in Single and Multi-class Service Levels,&quot; in IEEE CLOUD, Anchorage, Alaska, June/July 2014.</li>
            
            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6973837">[Online]</a> C. Zhang, <strong>R. Green</strong>, and M. Alam, &quot;Reliability and Utilization Evaluation of a Cloud Computing System Allowing Partial Failures,&quot; In IEEE CLOUD, Anchorage, Alaska, June/July 2014.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6973839">[Online]</a> B. Snyder, <strong>R. Green</strong>, M. Alam, and V. Devabhaktuni, &quot;Evaluation of Highly Reliable Cloud Computing Systems using Non-Sequential Monte Carlo Simulation,&quot; In IEEE CLOUD, Anchorage, Alaska, June/July 2014.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=6924308">[Online]</a> J. Philips, <strong>R. Green</strong>, and M. Alam, &quot;Time-of-Flight Distance Measurements using Smart Phones,&quot; In IEEE Mobile Services, Anchorage, Alaska, June/July 2014.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6710566">[Online]</a> M. Nasseri, M. Alam, and <strong>R. C. G. II</strong>, &quot;MDP Based Optimal Policy for Collaborative Processing using Mobile Cloud Computing,&quot; IEEE Cloudnet, San Francisco, California, November 2013.</li>          

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6465775">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, and M. Alam, &quot;Intelligent State Space Pruning with Local Search for Power System Reliability Evaluation,&quot; IEEE Power and Energy Society Innovative Smart Grid Technologies Europe, Berlin, Germany, October 2012.</li>
           
            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6344865">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, and C. Singh, &quot;Evaluating the Impact of Low Discrepancy Sequences on the Probabilistic Evaluation of Composite Power System Reliability,&quot; IEEE Power and Energy Society General Meeting 2012, San Diego, California, July 2012.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&arnumber=6345617">[Online]</a> A. Bandyopadhyay, L. Wang, V. Devabhaktuni, R. Yang, and <strong>R. C. G. II</strong>, &quot;Assessing the Effect of Fast Charging on Overall PHEV Battery Health,&quot; IEEE Power and Energy Society General Meeting, San Diego, California, July 2012, pp. 1-8.

            <li class="list-group-item">  <strong>R. C. G. II</strong>, L. Wang, M. Alam, and C. Singh, &quot;Latin Hypercube Sampling for the Probabilistic Evaluation of Composite Power System Reliability,&quot; Probabilistic Methods Applied to Power Systems, Istanbul, Turkey, June 2012.</li>

            <li class="list-group-item">  <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6024868&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, and S. S. S. R. Depuru, &quot;An Examination of Artificial Immune System Optimization in Intelligent State Space Pruning,&quot; North American Power Symposium 2011, Boston, Massachusetts, August 2011.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6024870&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, and S. S. S. R. Depuru, &quot;Evaluating the Impact of Plug-in Hybrid Electric Vehicles on Composite Power System Reliability,&quot; North American Power Symposium 2011, Boston, Massachusetts, August 2011.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6025169&amp;abstractAccess=no&amp;userType=inst">[Online]</a> Y. Zhang, W. Sun, L. Wang, H. Wang, <strong>R. C. G. II</strong>, and M. Alam, &quot;A multi-level communication architecture of smart grid based on congestion aware wireless mesh network,&quot; in North American Power Symposium 2011, Boston, Massachusetts, August 2011, pp. 1-6.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=6033556">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, and M. Alam, &quot;Composite power system reliability evaluation using support vector machines on a multicore platform,&quot; IEEE International Joint Conference on Neural Networks, San Jose, California, August 2011.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6039420&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, and C. Singh, &quot;High Performance Computing for Electric Power Systems: Applications and Trends,&quot; IEEE Power and Energy Society General Meeting 2011, Detroit, Michigan, July 2011.</li>
            
            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6039095&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, and C. Singh, &quot;Intelligent State Space Pruning Using Multi-Objective PSO for Reliability Analysis of Composite Power Systems: Observations, Analyses, and Impacts,&quot; IEEE Power and Energy Society General Meeting 2011 (PESGM 2011), Detroit, Michigan, July 2011. [Online]</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6039697&amp;abstractAccess=no&amp;userType=inst">[Online]</a> Y. Zhang, L. Wang, W. Sun, <strong>R. C. G. II</strong>, and M. Alam, &quot;Artificial immune system based intrusion detection in a distributed hierarchical network architecture of smart grid,&quot; in IEEE Power and Energy Society General Meeting, Detroit, Michigan, July 2011, pp. 1-8. 

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=6039455&amp;abstractAccess=no&amp;userType=inst">[Online]</a> A. Bandyopadhyay, L. Wang, V. Devabhaktuni, and <strong>R. C. G. II</strong>, &quot;Aggregator Analysis for Efficient Day-Time Charging of Plug-in Hybrid Electric Vehicles (PHEVs),&quot; in IEEE Power and Energy Society General Meeting, Detroit, Michigan, July 2011, pp. 1-8. </li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5949667">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, R. Formato. &quot;Central Force Optimization on a GPU: A Case Study in High Performance Metaheuristics using Multiple Topologies,&quot; IEEE Congress on Evolutionary Computation 2011 (CEC 2011), New Orleans, Louisiana, June 2011.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/login.jsp?tp=&amp;arnumber=5949691">[Online]</a> Z. Wang, R. Yang, L. Wang, <strong>R. C. G. II</strong>, and A.I. Dounis, &quot;A fuzzy adaptive comfort temperature model with grey predictor for multi-agent control system of smart building,&quot; IEEE Congress on Evolutionary Computation, New Orleans, Louisiana, June 2011.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5772502&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, and C. Singh, &quot;State space pruning for Reliability Evaluation using Binary Particle Swarm Optimization,&quot; Power Systems Exhibition and Conference, Phoenix, Arizona, March 2011.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5759165&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, M. Alam, and C. Singh, &quot;Intelligent and Parallel State Space Pruning for Power System Reliability Analysis Using MPI on a Multicore Platform,&quot; Second Conference on Innovative Smart Grid Technologies (ISGT 2011), Anaheim, California, January 2011.</li>              

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5666062&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, Z. Wang, M. Alam, and C. Singh, &quot;Power System Reliability Assessment Using Intelligent State Space Pruning Techniques: A Comparative Study&#8221; 2010 Conference on Power System Technology, Hangzou China, October 2010. </li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5590205&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang, and C. Singh, &quot;State Space Pruning for Power System Reliability Evaluation using Genetic Algorithms,&quot; in Proceedings of the IEEE PES General Meeting, Minneapolis, MN, July 2010.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5589654&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, L. Wang. &#8220;The Impact of Plug-in Hybrid Electric Vehicles on Distribution Networks: a Review and Outlook, &quot; in Proceedings of the IEEE PES General Meeting, Minneapolis, MN, July 2010.</li>

            <li class="list-group-item"> <a href="http://ieeexplore.ieee.org/xpl/freeabs_all.jsp?arnumber=5528892&amp;abstractAccess=no&amp;userType=inst">[Online]</a> <strong>R. C. G. II</strong>, Z. Wang, L. Wang, M. Alam, and C. Singh, &quot;Evaluation of Loss of Load Probability for Power Systems using Intelligent Search Based State Space Pruning,&quot; in Proceedings of the 11th International Conference on Probabilistic Methods Applied to Power Systems, Singapore, June 2010.</li>

            <li class="list-group-item">D. Myers, <strong>R. Green</strong>, &quot;Obtaining Bounds for Linear Programs with Interval Coefficients,&quot; INFORMS 2007. Washington State Convention and Trade Center, Seattle, Nov. 2007.</li> 
        </ol>

        <h4>Presented &amp; Peer Reviewed Abstracts</h4>
        <ol>
            <li class="list-group-item">D. Bekbolsynov, F. J. Syed, R. Green, K. Xu, M. Rees, O. Ekwenna, and S. Stepkowski, &quot; BetterHLA Matching Improved Kidney Allograft Survival in African American Patients with Race-Adjusted Immunogenicity Thresholds,&quot; in American Transplant Congress, (San Diego, CA), June 2023</li>

            <li class="list-group-item">F. Syed, D. Bekbolsynov, R. Green, K. Xu, and S. Stepkowski, &quot; African American Transplant Candidates Benefit from HLA Matching Algorithms Tailored to Race,&quot; in American Transplant Congress, (San Diego, CA), June 2023.</li>
            
            <li class="list-group-item">A. Gregory, A. Long, B. Hendrickson,<strong>R. C. G. II</strong>, and M. Razaee, &quot; Use of a new web-based tool reveals that sage-grouse are an unbrella species for shrub steppe bird communities at range-wide scales,&quot; in Praire Grouse Tech Council, (Wyoming), 2022.</li>
            
            <li class="list-group-item">D. Bekbolsynov, R. Green, B. Mierzejewska, O. Ekwenna, M. Rees, and S. Stepkowski, &quot; Low immunogenic donors improved survival of kidney transplants in african american recipients,&quot; in American Transplant Congress, 2021.</li>
            
            <li class="list-group-item">D. Bekbolsynov, R. Green, B. Mierzejewska, M. Rees, and S. Stepkowski, &quot; Low immunogenic donors improve kidney transplant survival in sensitized recipients,&quot; in American Transplant Congress, 2021.</li>


            <li class="list-group-item"> D. Bekbolsynov, B. Mierzejewska, J. Borucka, S. Khuder, M. Rees, <strong>R. C. G. II</strong>, and S. Stanislaw, &quot; Low physiochemical immunogenicity scores improve long-term survival of deceased donor kidney transplants,&quot; American Journal of Transplantation, vol. 20, May 2020. Peer Reviewed Abstract.</li>

            <li class="list-group-item">D. Bekbolsynov, O. Ekwenna, B. Mierzejewska, J. Borucka, S. Khuder, M. Rees, <strong>R. C. G. II</strong>, and S. Stepkowski, &quot;Improving Access to Transplantation and Outcomes for African American Patients,&quot; American Journal of Transplantation, vol. 20, May 2020. Peer Reviewed Abstract.</li>


            <li class="list-group-item">C. King, <strong>R. Green</strong>, and C. Rump, &quot;Population-based Metaheuristics for Fairer Facility Location,&quot; in INFORMS  Houston, September 2017. Abstract.</li>
            
            <li class="list-group-item">S. Gadde, <strong>R. C. G. II</strong>, W. Acosta, and V. Devabhaktuni, \On the use of Particle Swarm Optimization with Breadth First Search for Partitioning Large Graphs," in International Symposium on Innovation in information Technology and Application, (Kota Kinabalu, Malaysia), January/February 2018. Peer Reviewed Extended Abstract.</li>

            <li class="list-group-item">J. Faisant and <strong>R. Green</strong>, &quot;Can they Use It? Studying the Usability of the Canvas LMS at Bowling Green State University,&quot; in Ohio Academy of Science, April 2017. Abstract.</li>
            
            <li class="list-group-item">H. Renny and <strong>R. Green</strong>, &quot;Scaling Central Force Optimization for Modern Parallel Architectures,&quot; in Ohio Academy of Science, April 2017. Abstract.</li>
        </ol>

        <h4>Unrefereed Conference:</h4>
        <ol>
            <li class="list-group-item"> N. Nieman, J. Lambright, C. Taylor, and <strong>R. Green</strong>, &quot;Adventures in the Quantum Polynomial Ring: Linear Algebra Computations C,&quot; Scholar&#8217;s Day, Anderson University, Anderson, Indiana, April 2014.</li>
        </ol>
    </div>
</div>
