---
layout: page
title: "Research Software"
comments: false
sharing: false
footer: true
sidebar: false
---
<div class="container-fluid text-justify">

    <h3>Central Force Optimization</h3> Central Force Optimizatoin (CFO) is a deterministic, population-based metaheuristic algorithm. Over the years I've worked with it in various forms, extended it, and published multiple papers with regards to the algorithm. All of the code that I am currently maintaining can be found using the following list:

    <ul>
        <li><a href="https://gitlab.com/central-force-optimization">Public Group on Gitlab.com</a></li>

        <li><a href="https://gitlab.com/central-force-optimization/CFO-Matlab">CFO in Matlab</a></li>
        <li><a href="https://gitlab.com/central-force-optimization/CFO-CUDA">CFO in CUDA</a></li>
        <li><a href="https://gitlab.com/central-force-optimization/CFO-CUDA-Neighborhoods">CFO in CUDA with Neighborhoods</a></li>
        <li><a href="https://gitlab.com/central-force-optimization/CFO-Cpp-NN">CFO in C++ for Training Neural Networks</a></li>

        <li><a href="https://gitlab.com/central-force-optimization/simple-central-force-optimization">CFO in a Single File (C++)</a></li>
        <li><a href="https://gitlab.com/central-force-optimization/oo-central-force-optimization">Object Oriented CFO</a></li>
        <li><a href="https://gitlab.com/central-force-optimization/cfo_in_python">CFO in Python</a></li>
    </ul>

    <h3>Particle Swarm Optimization</h3> Particle Swarm Optimization (PSO) is an extremely popular and simple Population-based Metaheuristic based on the principles of flocking and swarming. Over the years I've used it in a variety of contexts and written a large amount of code relating to it.

    <ul>
        <li><a href="https://gitlab.com/particle-swarm">Public Group on Gitlab.com</a></li>
        <li><a href="https://gitlab.com/particle-swarm/PSO-Cpp">PSO in C++</a></li>
        <li><a href="https://gitlab.com/particle-swarm/PSO-CUDA-Island">PSO in Cuda with Islands</a></li>
        <li><a href="https://gitlab.com/particle-swarm/PSO-Java">PSO in Java</a></li>
        <li><a href="https://gitlab.com/particle-swarm/PSO-CUDA-PPB">PSO in Cuda using one particle per block</a></li>
        <li><a href="https://gitlab.com/particle-swarm/PSO-Cpp-NN">PSO in C++ to train a Neural Network</a></li>
        <li><a href="https://gitlab.com/particle-swarm/PSO-Python">PSO in Python</a></li>
    </ul>


    <h3>Power System Reliability</h3> Power system reliability using non-sequential Monte Carlo Simulation (MCS) is an interesting problem. This software relates primarily to my dissertation and continues to be extended.

    <ul>
        <li><a href="https://gitlab.com/MCS-Power-System-Reliability">Public Group on Gitlab.com</a></li>
        <li><a href="https://gitlab.com/MCS-Power-System-Reliability/mcs-pruning">MCS Pruning in C++</a></li>
    </ul>

    <h3>Combox</h3> This software is a cloud file storage aggregator that provides a high level of security as 1) Users are required to offer no personal information and 2) All data is encrypted and split into pieces for secure storage across multiple services. 

    <ul>
        <li><a href="https://gitlab.com/combox">Public Group on Gitlab.com</a></li>
        <li><a href="https://gitlab.com/combox/combox">Combox in Python</a></li>
    </ul>

    <h3>Computational Intelligence and the Smart Grid</h3>

    <ul>
        <li><a href="https://gitlab.com/bgsufhs/python-intrusion-detection">Python Intrusion Detection.</a>  Developed in conjunction with the University of Applied Sciences in Salzburg, Austria, this software is used to test a classifier voting mechanism for detecting cyber-security intrusions in the Smart Grid using Computational Intelligence techniques. The KDD-NSL and KDD-Cup 1999 Datasets are the provided features to train and test different types of classifiers. The software allows for the implementation and evaluation of various intrusion detection algorithms using the ensemble methodology. </li>

        <li><a href="https://github.com/wolfgang-lausenhammer/Okeanos">Okeanos.</a> Particularly with respect to coordinating power consumption and generation, demand response (DR) is a vital part of the future smart grid. Even though, there are some DR simulation platforms available, none makes use of game theory. Okeanos is a fundamental, game theoretic, Java-based, multi-agent software framework for DR simulation that allows an evaluation of real-world use cases. While initial use cases are based on game theoretic algorithms and focus on consumption devices only, further use cases evaluate the effects of plug in electric vehicles (PEVs). Results with consumers show that the number of involved households does not affect the costs per household. Further evaluation involving PEVs demonstrates that with an increasing penetration of PEVs and feed-in tariffs the costs per household per month decrease.</li>
    </ul>

    <h3>Imbalanced Data and Machine Learning</h3>
    <ul>
        <li><a href="https://gitlab.com/groups/forest-fire-data-set">Public Group on Gitlab.com</a></li>
        <li><a href="https://gitlab.com/forest-fire-data-set/forestfire">Regression &amp; clustering of the Forest Fire Data Set</a></li>
        
    </ul>


    <h3>Cloud Computing Reliability</h3>

    <ul>
        <li><a href="https://gitlab.com/cloud-reliability">Public Group on Gitlab.com</a></li>
        <li><a href="https://gitlab.com/cloud-reliability/ReliaCloud-NS">ReliaCloud-NS.</a> Developed as a system simulation tool for evaluating the reliability of cloud computing systems considering non-sequential methods, this software leverages some of the latest technologies including the Play Framework, PostgreSQL, and MongoDB. </li>

        <li><a href="https://gitlab.com/cloud-reliability/multi-state-device-research/">Cloud Reliability with Partial Failures.</a>

      
    </ul>

    <h3>Cloud Computing Oversubscription</h3>

    <ul>
        <li><a href="https://gitlab.com/cloud-oversubscription">Public Group on Gitlab.com</a></li>
        <li><a href="https://gitlab.com/cloud-oversubscription/cloudsim-cloud-based-oversubscription">Multi-Class Oversubscription</a>
    </ul>

     <h3>GSO Registration Application</h3>

    <ul>
        <li><a href="https://gitlab.com/cloud-oversubscription">Public Group on Gitlab.com</a></li>
        <li><a href="https://gitlab.com/Web-Apps/GSO-Registration-App-Client">GSO Registration App (Client)</a>
        <li><a href="https://gitlab.com/Web-Apps/GSO-Registration-App-Server">GSO Registration App (Server)</a>
        <li><a href="https://gitlab.com/Web-Apps/GSO-Scheduling-App">GSO Scheduling App</a>
    </ul>

</div>