<footer class="site-footer">
  <div class="wrapper">

    <div class="footer-col-wrapper">
      {% include social.html %}
    </div> 
  </div>

{% if jekyll.environment == 'production' %}
{% include analytics.html %}
{% endif %}

</footer>
