<nav class="navbar navbar-expand-lg" style="background-color: #4f2c1d">
    <a style="background-color: #4f2c1d" class="navbar-brand text-white" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color: #4f2c1d">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="{{ site.baseurl }}/teaching" class="nav-link text-white">Teaching</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/research" class="nav-link text-white">Research</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/service"  class="nav-link text-white">Service</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/software" class="nav-link text-white">Software</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/students" class="nav-link text-white">Students</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/projects" class="nav-link text-white">Projects</a></li>
            <li class="nav-item"><a href="{{ site.baseurl }}/videos" class="nav-link text-white">Videos</a></li>
        </ul>
    </div>
</nav>


<!-- <ul class="nav justify-content-left">
    {% for page in site.data.menu %}
        <li class="nav-item">
            <a href="{{ site.baseurl }}{{ page.href }}" class="nav-link">{{ page.title }}</a>
        </li>
    {% endfor %}
</ul> -->
