<div class="social">
	<h4>
    {% if site.github_username %}
	  <a target="_window" href="http://github.com/{{ site.github_username }}"><i class="fa fa-github"></i></a>
    {% endif %}

    {% if site.twitter_username %}
	  <a target="_window" href="http://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i></a>
    {% endif %}

    {% if site.linkedin_username %}
	  <a target="_window" href="http://linkedin.com/in/{{ site.linkedin_username }}"><i class="fa fa-linkedin"></i></a>
    {% endif %}

    {% if site.stackoverflow %}
	  <a target="_window" href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}

    {% if site.gitlab_username %}    
        <a target="_window" href="https://gitlab.com/{{ site.gitlab_username }}">
            <i class="fa fa-gitlab"></i>
        </a>
    {% endif %}

    {% if site.orcid_username %}   
        <a target="_window" href="https://orcid.org/{{ site.orcid_username }}">
            <i class="ai ai-orcid"></i>
        </a>     
    {% endif %}

    {% if site.google_scholar %} 
        <a target="_window" href="https://scholar.google.com/citations?user={{ site.google_scholar }}&hl=en">
            <i class="ai ai-google-scholar"></i>
        </a>     
    {% endif %}

    
    {% if site.researchgate %} 
        <a target="_window" href="https://www.researchgate.net/profile/{{ site.researchgate }}">
            <i class="ai ai-researchgate"></i>
        </a>     
    {% endif %}
	</h4>
</div>