---
layout: page
title: "Significant Service Roles"
comments: false
sharing: false
footer: true
---
<div class="container-fluid">
    <div class="col-12">
        <h4>Departmental</h4>
        <table class="table table-condensed table-bordered table-hover table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Dates</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>    
                <tr>
                    <td>2018 - Present</td>
                    <td>Graduate Coordinator, Data Science Program</td>
                </tr>
                <tr>
                    <td>2016 - 2021</td>
                    <td>CSAB, Academic Co-Chair, Chair of Standing Committee on Networking &amp; Collaboration</td>
                </tr>

                <tr>
                    <td>2015 - 2021</td>
                    <td>Graduate Coordinator, Dept. of Computer Science (Course Release)</td>
                </tr>
                <tr>
                    <td>2015 - Present</td>
                    <td>Course Coordinator for CS 3060, CS 3140, and CS 4400</td>
                </tr>

                <tr>
                    <td>2014 - 2016</td>
                    <td>Director, Agile Software Factory (Course Release)</td>
                </tr>
                <tr>
                    <td>2014 - 2016</td>
                    <td>Member of Computer Science Advisory Board<br/>Chair of Standing Committee on Resources and Development</td>
                </tr>
                <tr>
                    <td>2014 - 2016</td>
                    <td>Course Coordinator for CS 3540</td>
                </tr>
                <tr>
                    <td>2014          </td>
                    <td>Member, Graduate Committee</td>
                </tr>
                <tr>
                    <td>2014          </td>
                    <td>Talk: &quot;Technical Presentation Tips&quot; at Graduate Student Orientation</td>
                </tr>
               
                <tr>
                    <td>2013 - 2014   </td>
                    <td>Member, Tenure, Promotion, and Review Sub-Committee</td>
                </tr>
                <tr>
                    <td>2013 - 2014   </td>
                    <td>Member, Facilities Committee</td>
                </tr>
                <tr>
                    <td>2013 - 2016</td>
                    <td>Member, Assessment Sub-Committee</td>
                </tr>
              
            </tbody>
        </table>
    </div>
</div>

<div class="container-fluid">
    <div class="col-md-12">
        <h4>College/University</h4>
        <table class="table table-condensed table-bordered table-hover table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Dates</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2015-2021</td>
                    <td>Member, Graduate Council <br/>
                        (2015) Committee on Graduate Student Issues <br/>
                        (2016 - 2021) Chair of SubCommittee on Graduate Curriculum Review</td>
                </tr>

                <tr>
                    <td>2015</td>
                    <td>Co-Chair, Midstates Conference for Undergraduate Research in Computer Science and Mathematics </td>
                </tr>

                <tr>
                    <td>2014</td>
                    <td>Computing and Information Technologies (CIT) Task ForceComputing and Information Technologies (CIT) Task Force</td>
                </tr>

                <tr>
                    <td>2013-2014</td>
                    <td>Advisory Member, ITS FACES Project</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<div class="container-fluid">
    <div class="col-md-12">
        <h4>Expert Opinion</h4>
        <table class="table table-condensed table-bordered table-hover table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Dates</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Dates</th>
                    <th>Role</th>
                </tr>
                <tr>
                    <td>2016</td>
                    <td>Program Committee, International Symposium on Advances in Applied Informatics</td>
                </tr>
                <tr>
                    <td>2016</td>
                    <td>Program Committee, Fourth International Symposium on Intelligent Informatics</td>
                </tr>
                <tr>
                    <td>2016</td>
                    <td>Program Committee Member, International Conference on Sustainable Energy Information Technology</td>
                </tr>

                <tr>
                    <td>2015</td>
                    <td>Program Committee, 6th International Conference on Sustainable Energy Information Technology</td>
                </tr>

                <tr>
                    <td>2014 - Present</td>
                    <td>Program Committee Member, International Symposium on BIG Data and Cloud Computing Challenges</td>
                </tr>

                <tr>
                    <td>2013</td>
                    <td>OSC Grant Reviewer</td>
                </tr>
                <tr>
                    <td>2013</td>
                    <td>Advisory Committee, 1st International Workshop on Cloud Computing and Cloud Applications</td>
                </tr>
                <tr>
                    <td>2013</td>
                    <td>Technical Program Committee, IEEE 11th Annual Consumer Communications and Networking Conference, Special Session on Big Data, Security, and Privacy</td>
                </tr>
                <tr>
                    <td>2013</td>
                    <td>Panelist, 2013 Midwest Consortium for Computing Sciences in College</td>
                </tr>

                <tr>
                    <td>2011 - Present</td>
                    <td>Occasional journal manuscript referee for: IEEE Transactions on Cloud Computing, IEEE Transactions on Neural Systems &amp; Rehabilitation Engineering, IEEE Transactions on Smart Grid, IEEE Systems Journal, Applied Sciences, Applied Soft Computing, British Journal of Mathematics &amp; Computer Science, Energy and Buildings, International Journal of Electrical Power and Energy Systems</td>
                </tr>
                <tr>
                    <td>2011 - Present</td>
                    <td>Occasional conference manuscript referee for: IEEE International Joint Conference on Neural Networks, International Conf. on Parallel Proc. and Applied Mathematics, IEEE Symposium Series on Computational Intelligence</td>
                </tr>
                <tr>
                    <td>2011 - Present</td>
                    <td>Occasional book reviewer for Manning Publications</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>