---
layout: page
title: "Teaching"
comments: false
sharing: false
footer: true
---

<div class="container-fluid">
    <div class="col-md-12">

        <h4>Courses I'm currently teaching</h4>
        <ul>
            <li> CS 6500: Big Data Analytics</li>
            <li> CS 3180: Mobile Application Development</li>
            <li> CS 1010: Introduction to Python</li>
            <li> DATA 7780: Data Science Communication</li>
        </ul>

        <h4>Courses I Created</h4>
        <ul>
            <li> CS 6170: Advanced High Performance Computing</li>
            <li> CS/DATA 6010: Data Science Programming</li>
            <li> CS 3180: Mobile Application Development</li>
            <li> CS 3060: Programming Languages</li>
            <li> CS/SE 4770: Capstone in Computer Science/Software Engineering </li>
        </ul>

        <h4>Undergraduate Courses I've Taught</h4>
        <ul>
            <li> CS 2010: Fundamentals of Programming</li>
            <li> CS 3060: Programming Languages</li>
            <li> CS 3140: Web Application Development</li>
            <li> CS 3180: Mobile Application Development</li>
            <li> CS 3240: Usability Engineering</li>
            <li> CS 3540: Introduction to Software Engineering</li>
            <li> CS 3060: Programming Languages </li>
            <li> CS/SE 4770: Capstone Experience in Computer Science/Software Engineering</li>
            <li> CS 4900: Independent Project</li>
            <li> HNRS 4980: Honors Project Development</li>
            <li> HNRS 4990: Honors Project (5)
            <li> OR 3800: Introduction to Management Science</li>
        </ul>

        <h4> Undergraduate-Graduate Courses</h4>
        <ul>
            <li> CS 4170/5170: Introduction to Parallel Programming </li>
            <li> CS 4200/5200: Artificial Intelligence </li>
            <li> CS 4290/5290: Data Communications and Networks </li>
            <li> CS 4400/5400: Optimization Techniques </li>
            <li> CS 4540/5540: Software Development Project </li>
        </ul>
        
        <h4> Graduate Only Courses Taught</h4>
        <ul>
            <li> CS 5010: Fundamentals of Programming </li>
            <li> CS 5015: Concepts \& Issues in Computing </li>
            <li> CS 5850: Independent Readings (20)
            <li> CS/DATA 6010: Data Science Programming</li>
            <li> CS 6500: Big Data Analytics</li>
            <li> CS 6800: Availability and Reliability of Cloud Computing</li>
            <li> CS/DATA 7200: Machine Learning</li>
            <li> DATA 6910: Data Science Project</li>
            <li> DATA 7770: Data Science Exploration</li>
            <li> DATA 7780: Data Science Communication</li>
            <li> MBA 6010/6010P: Quantitative Analysis for Managers</li>
        </ul> 

<!--         
        <h4>Teaching History</h4>
        <table class="table table-condensed table-bordered table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Semester</th>
                    <th scope="col">Number</th>
                    <th scope="col">Sections</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>

                <tr class="">
                    <th scope="row" class="text-center align-middle" rowspan="3">Fall 2024</td>
                    <td>CS 4170/5170</td>
                    <td>1</td>
                    <td>Introduction to Parallel Programming</td>
                </tr>
                <tr class="">
                    <td>CS/DATA 6010</td>
                    <td>1</td>
                    <td>Data Science Programming</td>
                </tr>
                <tr class="">
                    <td>DATA 7770</td>
                    <td>1</td>
                    <td>Data Science Exploration</td>
                </tr>

                <tr class="table-active">
                    <th scope="row" class="text-center align-middle">Summer 2024</td>
                    <td>CS 5015</td>
                    <td>1</td>
                    <td>Concepts &amp; Issues in Computing</td>
                </tr>
                
                <tr>
                    <th scope="row" class="text-center align-middle" rowspan="3">Spring 2024</td>
                    <td>CS 3180</td>
                    <td>1</td>
                    <td>Mobile Application Development</td>
                </tr>
                <tr>
                    <td>CS 3240</td>
                    <td>1</td>
                    <td>Usability Engineering</td>
                </tr>
                <tr>
                    <td>CS/DATA 7200</td>
                    <td>1</td>
                    <td>Machine Learning</td>
                </tr>

                <tr class="table-active">
                    <th scope="row" class="text-center align-middle" rowspan="2">Fall 2023</td>
                    <td>CS 2010</td>
                    <td>1</td>
                    <td>Programming Fundamentals</td>
                </tr>
                <tr class="table-active">
                    <td>CS/SE 4770</td>
                    <td>1</td>
                    <td>Capstone in Computer Science/Software Engineering</td>
                </tr>


                <tr class="">
                    <th scope="row" class="text-center align-middle" rowspan="2">Summer 2023</td>
                    <td>CS 5010</td>
                    <td>1</td>
                    <td>Fundamentals of Programming</td>
                </tr>
                <tr>
                    <td>CS 5015</td>
                    <td>1</td>
                    <td>Concepts &amp; Issues in Computing</td>
                </tr>


                <tr class="table-active">
                    <th scope="row" class="text-center align-middle" rowspan="2">Spring 2023</td>
                    <td>CS/SE 4770</td>
                    <td>1</td>
                    <td>Capstone in Computer Science/Software Engineering</td>
                </tr>
                <tr class="table-active">
                    <td>CS 3240</td>
                    <td>1</td>
                    <td>Introduction to Usability Engineering</td>
                </tr>

                <tr>
                    <th scope="row" class="text-center align-middle">Fall 2022</td>
                    <td>CS 4170/5170</td>
                    <td>1</td>
                    <td>Introduction to Parallel Programming</td>
                </tr>

                <tr class="table-active">
                    <th scope="row" class="text-center align-middle">Spring 2022</td>
                    <td colspan="3">On Faculty Improvement Leave</td>
                </tr>
                <tr>
                    <th scope="row" class="text-center align-middle">Fall 2021</td>
                    <td colspan="3">On Faculty Improvement Leave</td>
                </tr>


                <tr class="table-active">
                    <th scope="row" class="text-center align-middle" rowspan="2">Spring 2021</td>
                    <td>CS 6500</td>
                    <td>1</td>
                    <td>Big Data Analytics</td>
                </tr>
                <tr class="table-active">
                    <td>CS 4170/5170</td>
                    <td>1</td>
                    <td>Introduction to Parallel Programming</td>
                </tr>

                <tr>
                    <th scope="row" class="text-center align-middle" rowspan="2">Fall 2020</td>
                    <td>CS 3540</td>
                    <td>1</td>
                    <td>Introduction to Software Engineering</td>
                </tr>
                <tr>
                    <td>CS/DATA 6010</td>
                    <td>1</td>
                    <td>Data Science Programming</td>
                </tr>




                <tr class="table-active">
                    <th scope="row" class="text-center align-middle" rowspan="2">Spring 2020</td>
                    <td>CS 4540/5540</td>
                    <td>2</td>
                    <td>Software Engineering Project</td>
                </tr>
                <tr class="table-active">
                    <td>CS/DATA 7200</td>
                    <td>1</td>
                    <td>Machine Learning</td>
                </tr>


                <tr>
                    <th scope="row" class="text-center align-middle" rowspan="2">Fall 2019</td>
                    <td>CS/DATA 6010</td>
                    <td>1</td>
                    <td>Data Science Programming</td>
                </tr>
                <tr>
                    <td>CS 4170/5170</td>
                    <td>1</td>
                    <td>Introduction to Parallel Programming</td>
                </tr>

                <tr class="table-active">
                    <th scope="row" class="text-center align-middle">Spring 2019</td>
                    <td>CS 4540/5540</td>
                    <td>2</td>
                    <td>Software Engineering Project</td>
                </tr>
                <tr>
                    <th scope="row"  class="text-center align-middle" rowspan="2">Fall 2018</td>
                    <td>CS 4170/5170</td>
                    <td>1</td>
                    <td>Introduction to Parallel Programming</td>
                </tr>
                <tr>
                    <td>CS 3060</td>
                    <td>1</td>
                    <td>Programming Languages</td>
                </tr>
               
                <tr class="table-active">
                    <th scope="row" rowspan="2" class="text-center align-middle">Summer 2018</td>
                    <td>MBA 6010</td>
                    <td>1</td>
                    <td>Quantitative Analysis for Managers</td>
                </tr>
                <tr class="table-active">
                    <td>OR 3800</td>
                    <td>1</td>
                    <td>Introduction to Management Science</td>
                </tr>

                <tr>
                    <th scope="row"  class="text-center align-middle">Spring 2018</td>
                    <td>CS 4540/5540</td>
                    <td>2</td>
                    <td>Software Engineering Project</td>
                </tr>
                <tr class="table-active">
                    <th scope="row" rowspan="3" class="text-center align-middle">Fall 2017</td>
                    <td>CS 3060</td>
                    <td>1</td>
                    <td>Programming Languages</td>
                </tr>
                <tr class="table-active">
                    <td>CS 3540</td>
                    <td>1</td>
                    <td>Introduction to Software Engineering</td>
                </tr>
                <tr class="table-active">
                    <td>CS 3140</td>
                    <td>1</td>
                    <td>Web Application Development</td>
                </tr>

                <tr>
                    <th scope="row"  class="text-center align-middle">Summer 2017</td>
                    <td>CS 4200/5200</td>
                    <td>1</td>
                    <td>Introduction to Artificial Intelligence</td>
                </tr>

                <tr class="table-active">
                    <th scope="row" rowspan="2" class="text-center align-middle">Spring 2017</td>
                    <td>CS 4290/5290</td>
                    <td>1</td>
                    <td>Data Communication and Networks</td>
                </tr>
                <tr class="table-active">
                   
                    <td>CS 3540</td>
                    <td>2</td>
                    <td>Introduction to Software Engineering</td>
                </tr>

                <tr>
                    <th scope="row" rowspan="2" class="text-center align-middle">Fall 2016</td>
                    <td>CS 4540/5540</td>
                    <td>2</td>
                    <td>Software Engineering Project</td>
                </tr>
                <tr>
                    <td>CS 3140</td>
                    <td>1</td>
                    <td>Web Application Development</td>
                </tr>
                <tr>


                <tr class="table-active">
                    <th scope="row" class="text-center align-middle">Spring 2016</td>
                    <td>CS 3540</td>
                    <td>2</td>
                    <td>Software Engineering</td>
                </tr>
                <tr>
                    <th scope="row" class="text-center align-middle">Fall 2015</td>
                    <td>CS 4540/5540</td>
                    <td>2</td>
                    <td>Software Engineering Project</td>
                </tr>

                <tr class="table-active">
                    <th scope="row" rowspan="2"class="text-center align-middle">Summer 2015</td>
                    <td>MBA 6010</td>
                    <td>1</td>
                    <td>Quantitative Analysis for Managers</td>
                </tr>
                <tr class="table-active">
                   
                    <td>CS 3800</td>
                    <td>1</td>
                    <td>Programming Languages</td>
                </tr>

                <tr>
                    <th scope="row"  class="text-center align-middle">Spring 2015</td>
                    <td>CS 3540</td>
                    <td>2</td>
                    <td>Software Engineering</td>
                </tr>

                <tr class="table-active">
                    <th scope="row" rowspan="2"  class="text-center align-middle">Fall 2014</td>
                    <td>CS 3140</td>
                    <td>1</td>
                    <td>Web Application Development</td>
                </tr>
                <tr class="table-active">
                    <td>CS 4400/5400</td>
                    <td>1</td>
                    <td>Optimization Techniques</td>
                </tr>

                <tr>
                    <th scope="row" rowspan="2" class="text-center align-middle">Spring 2014</td>
                    <td>CS 3540</td>
                    <td>1</td>
                    <td>Software Engineering</td>
                </tr>
                <tr>
                    <td>CS 4290/5290</td>
                    <td>1</td>
                    <td>Data Communication and Networks</td>
                </tr>

                <tr  class="table-active">
                    <th scope="row" rowspan="2" class="text-center align-middle">Fall 2013</td>
                    <td>CS 3140</td>
                    <td>1</td>
                    <td>Web Application Development</td>
                </tr>
                <tr class="table-active">
                   
                    <td>CS 6800</td>
                    <td>1</td>
                    <td>Cloud Computing Reliability and Availability</td>
                </tr>
                
            </tbody>
        </table>
        
        <h4>Previous Courses</h4>
        <ul>
            <li>Introduction to Java, University of Toledo</li>
            <li>Linear Data Structures, University of Toledo</li>
            <li>Introduction to Management Science, Bowling Green State University</li>
        </ul> -->
    </div>
</div> 
