---
layout: page
title: "Students"
comments: false
sharing: false
footer: false
---

<style>
    li{
        padding-bottom:5px;
    }
</style>


<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="margin-bottom:10px;">
            If you would like to work with me, I expect the following:
            <ul>
                <li>I AM NO LONGER ACCEPTING PROJECT STUDENTS. ALL STUDENTS WILL COMPLETE A THESIS.</li>
                <li>For a thesis, you MUST contact me at least 3 semesters before graduation.</li>
                <li>All code will be version controlled using Git and Gitlab.</li>
                <li>All papers will be written using Latex and stored on Overleaf, Gitlab, or both.</li>
                <li>Weekly meetings are a must.</li>
            </ul>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Doctoral Students</h3>
        </div>
        <table class="table table-condensed table-bordered table-hover table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Thesis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" colspan="2"><strong>2024</strong></td>
                </tr>
                <tr>
                    <td>Desmond Offei</td>
                    <td><a href="#">[Online]</a> Eplets and Immunogencity in Kidney Transplantation: A Data Science Approach</td>
                </tr>
                <tr>
                    <td>Mostafa Mohammad Rezaee</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu1711663774173708">[Online]</a> SaveBirds.app: Democratizing Breeding Bird Survey Data Using Data Science</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2023</strong></td>
                </tr>
                <tr>
                    <td>Jishan Ahmed</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu1688685109278097">[Online]</a> Cost-Aware Machine Learning and Deep Learning for Extremely Imbalanced Data</td>
                </tr>
            </tbody>
        </table>
    </div>
   
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Thesis Students</h3>
        </div>
        <table class="table table-condensed table-bordered table-hover table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Thesis</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" colspan="2"><strong>2021</strong></td>
                </tr>
                <tr>
                    <td>John Bartocci</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu1617104572023027">[Online]</a> Generating a Synthetic Dataset for Kidney Transplantation using Generative Adversarial Networks and Categorical Logit Encoding</td>
                </tr>
                <tr>
                    <td>Nolan Gormley</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu1617222994436272">[Online]</a> Knotilus: A Differentiable Piecewise Linear Regression Framework</td>
                </tr>
                <tr>
                    <td>Morgan Mastrocinque</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu16171080745974">[Online]</a> Epitope-based Re-matching of Donor-Recipient Pairs for Kidney Graft Allocation</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2020</strong></td>
                </tr>
                <tr>
                    <td>Khalid R. Alasmari</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=toledo1587906971444328">[Online]</a> Novel methods for Reduced Energy and Time Consumption for Mobile Devices using Markov Decision Process</td>
                </tr>
                <tr>
                    <td>Blade Frisch</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu1594112876812982">[Online]</a> A User Experience Evaluation of AAC Software</td>
                </tr>
                <tr>
                    <td>Justin Kleinknecht</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu1589471926006468">[Online]</a> Machine Learning and Computational Methods for Evaluating Kidney Graft Allocation</td>
                </tr>
                <tr>
                    <td>Asanga Ramanayake</td>
                    <td><a href="http://rave.ohiolink.edu/etdc/view?acc_num=bgsu1594957948648404">[Online]</a> Data Engineering and Failure Prediction for Hard Drive S.M.A.R.T. Data</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2016</strong></td>
                </tr>
                <tr>
                    <td>Jeremy Storer</td>
                    <td><a href="https://etd.ohiolink.edu/pg_10?::NO:10:P10_ETD_SUBID:113546">[Online]</a> Computational Intelligence and Data Mining Techniques Using the Fire Data Set</td>
                </tr>
            </tbody>
        </table>
    </div>
   
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Project Students</h3>
        </div>
        <table class="table table-condensed table-bordered table-hover table-sm table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Project</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="text-center" colspan="2"><strong>2024</strong></td>
                </tr>
                <tr>
                    <td>Joseph Bauer</td>
                    <td>Reproducing a study that Machine Learning to Predict the Outcome of Kidney Transplants</td>
                </tr>
                <tr>
                    <td>Anuhya Peddi</td>
                    <td>Elections Mobile Application</td>
                </tr>
                <tr>
                    <td>Aayusha Shrestha</td>
                    <td>Improving Kidney Donations and Exchange Using Genetic Programming</td>
                </tr>
                <tr>
                    <td>Ajay Singh </td>
                    <td>HLA Imputation using Machine Learning</td>
                </tr>
                <tr>
                    <td>Manasa Ullam</td>
                    <td>City Code Enforcement Mobile Application</td>
                </tr>
                <tr>
                    <td>Divyansh Yadav</td>
                    <td>HLA Imputation Using Transformer Machine learning Model</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2023</strong></td>
                </tr>
               
                <tr>
                    <td>Kimberlyn Brooks </td>
                    <td>Factors Impacting Master’s Degree Attainment at BGSU​</td>
                </tr>
                <tr>
                    <td>Deekshitha Chappidi</td>
                    <td>HLA Imputation using Machine Learning</td>
                </tr>
                <tr>
                    <td>Sarath Madapana</td>
                    <td>Early Detection of Chronic Kidney Disease using Machine Learning Models: Emphasizing the Impact of Imbalanced Data</td>
                </tr>
                <tr>
                    <td>Jacob Mitchell</td>
                    <td>Molecular Human Leukocyte Antigen (HLA) data can be predicted with moderate to high accuracy with serological HLA data</td>
                </tr>
                <tr>
                    <td>Dan Mrachko </td>
                    <td>BGSU ITS Project Duration Prediction with Machine Learning</td>
                </tr>
                <tr>
                    <td>Pravaliki Naraharsetty</td>
                    <td>Elections mobile application: Backend</td>
                </tr>
               
                <tr>
                    <td>Jaswitha Ravala</td>
                    <td>Simulation Model for Kidney Transplant Using Python Simpy Library</td>
                </tr>
                <tr>
                    <td>Chandra Ravuri</td>
                    <td>HLA Imputation using Seq2Seq</td>
                </tr>
              
                


                <tr>
                    <td class="text-center" colspan="2"><strong>2022</strong></td>
                </tr>
                <tr>
                    <td>Vibhuti Chandna</td>
                    <td>Machine Learning to Predict Kidney Transplant Outcomes</td>
                </tr>
                <tr>
                    <td>Alan Kirkpatrick /td>
                    <td>Using Metaheuristics for Optimal Allocation in Kidney Exchange? Not so fast</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2021</strong></td>
                </tr>
                <tr>
                    <td>Srishti Shastri</td>
                    <td>GANN-based Data Augmentation for Non Image Data</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2020</strong></td>
                </tr>
              
                <tr>
                    <td>Binish Koirola</td>
                    <td>ShellShots</td>
                </tr>
                <tr>
                    <td>Avisha Lad</td>
                    <td>Computer Science Internship Database (CSIDB)</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2019</strong></td>
                </tr>
                <tr>
                    <td>Nathan Light</td>
                    <td>Improving the Performance of Data Preparation for Optimal Kidney Donations</td>
                </tr>
                <tr>
                    <td>Aditya Pokuri</td>
                    <td>Intelligent Hard Drive Failure Rate Prediction</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2018</strong></td>
                </tr>
                
                <tr>
                    <td>Rajha Al-Ghamdi</td>
                    <td>Impacts of Oversubscription on the Reliability of Cloud Computing Systems</td>
                </tr>
                <tr>
                    <td>Sasank Daggabuti</td>
                    <td>Impact of Initial Probe Distribution on Central Force Optimization</td>
                </tr>
                <tr>
                    <td>Supraja Lankireddy</td>
                    <td>Developing a GUI with Node.js for Power System Reliability Software</td>
                </tr>
                <tr>
                    <td>Abhinay Patthi</td>
                    <td>Migrating a Java-based Play Framework Application from version 2.2 to 2.6: Can it be Done?</td>
                </tr>
               
                <tr>
                    <td>Sagar Sharma</td>
                    <td>Stream Mining the Forest cover Type Dataset with Rains</td>
                </tr>
                <tr>
                    <td>Le Yang</td>
                    <td>Using Deep Neural Network to Replace Kosmoliaptsis Algorithm for Immunogenicity Calculation</td>
                </tr>
                <tr>
                    <td>Sara Yarshenas</td>
                    <td>Kidney Transplant Data Analysis</td>
                </tr>
                <tr>
                    <td>Manal Zakri</td>
                    <td>Impact of Virtual Machine Allocation on the Reliability of Cloud Computing System</td>
                </tr>






                <tr>
                    <td class="text-center" colspan="2"><strong>2017</strong></td>
                </tr>
                <tr>
                    <td>Rahul Gupta</td>
                    <td>Support Vector methods and Forest Fire Data</td>
                </tr>
                <tr>
                    <td>Ramin Khakzad</td>
                    <td>Real-time Analysis IN Spark</td>
                </tr>
                <tr>
                    <td>Goutham Kunduru </td>
                    <td>Search-based Software Testing using Central Force Optimization</td>
                </tr>
                <tr>
                    <td>Pranith Pola</td>
                    <td>Reproducing Direct Fingerprint Minutiae Extraction Approach Based on Convolutional Neural Networks</td>
                </tr>
                <tr>
                    <td>Nick Rodgers</td>
                    <td>Central Force Optimization: Enhancing Performance &amp; Design</td>
                </tr>
                <tr>
                    <td>Seyedhamid Shekaforoush</td>
                    <td>Classifying Commit Messages: A Case Study in Resampling Techniques</td>
                </tr>
                <tr>
                    <td>Sujitha Uppalapati</td>
                    <td>Is there a data-driven trend towards a Unified Coding Standard?</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2016</strong></td>
                </tr>

                <tr>
                    <td>Thomas Charest</td>
                    <td>Benchmarking Studies in Parallel Computing</td>
                </tr>
                <tr>
                    <td>Rithish Danasekaran</td>
                    <td>Implementation of Population-based Metaheuristic Algorithms in an Android Application</td>
                </tr>
                <tr>
                    <td>Siddarth Ravikumar</td>
                    <td>combox</td>
                </tr>
            
                <tr>
                    <td class="text-center" colspan="2"><strong>2015</strong></td>
                </tr>
                <tr>
                    <td>Purvi Agrawal</td>
                    <td>BGSU Faculty Office Hours Web Application</td>
                </tr>
                <tr>
                    
                    <td>Vishaka Agrawal</td>
                    <td>Exploring Parallel Models of Computation for Composite Power System Reliability</td>
                </tr>
                <tr>
                    <td>Scott Arnold</td>
                    <td>GSO Registration Application</td>
                </tr>
                <tr>
                    
                    <td>Matthew Bick</td>
                    <td>Central Force Optimization - Analysis Of Data Structures &amp; Multiplicity Factor</td>
                </tr>
                <tr>
                    <td>Deepanshu Kher</td>
                    <td>Oversubscription Simulation Studies using GreenCloud</td>
                </tr>
                <tr>
                    <td>Mounika Markala</td>
                    <td>MapReduce Monte Carlo Simulation for Evaluating Composite Power System Reliability</td>
                </tr>
                <tr>
                    <td>Shruthi Rajoli</td>
                    <td>BGSU Memorial Tree Application</td>
                </tr>
                <tr>
                    <td>Gwendolyn Wahl</td>
                    <td>GSO Registration Application</td>
                </tr>
                <tr>
                    
                    <td>Congyingzhi Zhang</td>
                    <td>Evaluation of a Cloud Computing System Allowing Partial Failures</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2014</strong></td>
                <tr>
                    <td>Scott Arnold</td>
                    <td>GSO Registration Application</td>
                </tr>
                <tr>
                    <td>Rachel Householder</td>
                    <td>Impacts of Multi-Class Oversubscription on Revenues and Performance in the Cloud</td>
                </tr>
                <tr>
                    <td>Aswin Mathew</td>
                    <td>A Benchmarking Study of NoSQL Databases using YCSB</td>
                </tr>
                <tr>
                    <td>Amrutha Mutyala</td>
                    <td>Simulation-based Insights into Time-shared Oversubscription in Cloud Computing</td>
                </tr>
                <tr>
                    <td>Brett Snyder</td>
                    <td>Tools and Techniques for Evaluating the Reliability of Cloud Computing Systems</td>
                </tr>
                <tr>
                    <td>Wesley Vollmar</td>
                    <td>Combo-Box</td>
                </tr>

                <tr>
                    <td class="text-center" colspan="2"><strong>2013</strong></td>
                </tr>
                <tr>
                    <td>Anu Mutyala</td>
                    <td>Insights into Cloud-based Enterprise Resource Planning Systems</td>
                </tr>
            </tbody>
        </table>
    </div>


   
</div>
